<nav class="navbar">
    <ul>
        <li>
            <a class="link" href="/home"><h2>Members Only</h2></a>
        </li>
        <div>
            <li>
                <a class="link" href="/member">Membership</a>
            </li>
            <li>
                <a class="link" href="/admin">Moderator</a>
            </li>
            <li>
                <a class="link" href="/posts">Posts</a>
            </li>
            <li>
                <a class="link" href="/sign-up">Sign Up</a>
            </li>
            <li>
                <a class="link" href="/log-in">Log In</a>
            </li>
        </div>
    </ul>
</nav>