<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head",{title: "Moderator",style:['style','navbar']})%>
    </head>
    <body>
        <%- include("./partials/navbar")%>
        <h1>Become an admin.</h1>
        <form>
            <section>
                <label for="admin-code">Code: </label>
                <br>
                <input name="admin-code" type="text" placeholder="Enter secret code">
            </section>
            <button type="reset">Clear</button>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>