<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head",{title: "Moderator",style:['style','navbar']})%>
    </head>
    <body>
        <%- include("./partials/navbar")%>
        <main>
        

        <% if(locals.currentUser.is_admin){ %>
            <h1 class="header-confirmation">You are already a admin !</h1>
        <% }else{ %>

        <form method="post" class="form-user">
            <section class="section-user-input">
                <label class="label-prompt-membership-admin" for="admin_code">Become an admin: </label>
                <br>
                <input name="admin_code" type="text" placeholder="Enter secret code">
            </section>
        <% if(locals.errors){ %>
            <ul class="error-list">
                <% for(let i=0;i < locals.errors.length;i++){ %>
                    <li>
                        <%= locals.errors[i].msg %>
                    </li>
                    <% } %>
            </ul>
            <% } %>
            <div class="button-holder">
                <button type="reset">Clear</button>
                <button type="submit">Submit</button>
            </div>
        </form>
        <% } %>

        </main>
    </body>
</html>