<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head",{title: ""})%>
    </head>
    <body>
        <img src="./images/favicon.svg">
        <h1>This is a message board  for members only.</h1>
        <a href="/home">Go to home page</a>
        <br>
        <a href="/sign-up">Sign-up</a>
        <br>
        <a href="/log-in">Log-in</a>
    </body>
</html>