<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head",{title: "Home"})%>
    </head>
    <body>
        <h1>log-in form</h1>
        <a href="/">Landing page</a>
        <br>
        <a href="/home">Home page</a>
        <br>
        <a href="sign-up">Sign-up</a>
    </body>
</html>
