<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head",{title: "Membership",style:['style','navbar']})%>
    </head>
    <body>
        <%- include("./partials/navbar")%>
        <main>

        <% if(locals.currentUser.is_member){ %>
            <h1>You are already a member !</h1>
        <% }else{ %>

        <h1>Become a member.</h1>
        <% if(locals.errors){ %>
            <ul class="error-list">
                <% for(let i=0;i < locals.errors.length;i++){ %>
                    <li>
                        <%= locals.errors[i].msg %>
                    </li>
                    <% } %>
            </ul>
            <% } %>
        <form method="post">
            <section>
                <label for="membership_code">Code: </label>
                <br>
                <input name="membership_code" type="text" placeholder="Enter secret code">
            </section>
            <button type="reset">Clear</button>
            <button type="submit">Submit</button>
        </form>

        <% } %>

        </main>
    </body>
</html>