<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head",{title: "Membership",style:['style']})%>
    </head>
    <body>
        <%- include("./partials/navbar")%>
        <h1>Become a member.</h1>
    </body>
</html>