<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head",{title: "Home"})%>
    </head>
    <body>
        <%- include("./partials/navbar")%>
        <h1>Posts</h1>
        <p>This is where all the posting will happen.</p>
    </body>
</html>