<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head",{title: "Home"})%>
    </head>
    <body>
        <a href="/home"><img src="./images/favicon.svg"></a>
        <h1>Sign Up</h1>
        <br>
        <p>Already have an account? <a class="link" href="log-in">Log In</a></p>
    </body>
</html>