<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head",{title: "Home"})%>
    </head>
    <body>
        <h1>Sign-up form</h1>
        <a href="/">Landing page</a>
        <br>
        <a href="/home">Home page</a>
        <br>
        <a href="log-in">Log-in</a>
    </body>
</html>