@import url('./style.css');

.navbar {
    width: 60%;
    min-width: 400px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.navbar > ul {
    display: flex;
    width: 100%;
    list-style: none;
}

.navbar > ul > li:nth-child(1) {
    width: 50%;
    display: flex;
    align-items: center;
}

/* logo */
.navbar > ul > li:nth-child(1) > a {
    margin-right: 20px;
    min-width: max-content;
    font-size: 24px;
}

.navbar > ul > div {
    width: 50%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

.navbar > ul > div > li {
    margin-left: 10px;
    min-width: max-content;
}

.link-button {
    width: max-content;
    background-color: var(--color-tertiary);
    text-align: center;
    border-radius: var(--border-radius);
    font-weight: 600;
    background-color: black;
    color: white;
    padding: 15px 10px;
}

.link-button:hover {
    background-color: grey;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 960px) {
    .navbar > ul > li > a > h2 {
        display: none;
    }
}
