:root{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    font-family: Arial,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link{
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    color: black;
}

.link:hover{
    text-decoration: underline;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 19px;
    background-color: red;
}

.navbar > ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar > ul > li:nth-child(1){
    width: 50%;
    display: flex;
    align-items: center;
}

.navbar > ul > li:nth-child(1) > a{
    margin-right: 20px;
    min-width: max-content;
    font-size: 24px;
}

.navbar > ul > div{
    width: 50%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

.navbar > ul > div > li{
    margin-left: 50px;
    min-width: max-content;
}

.welcome-board{
    outline: 2px black dashed;
    border-radius: 10px;
    padding: 20px;
}