:root{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    max-height: 100vh;
    font-family: Arial,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}