:root {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family:
        Arial, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
        Verdana, sans-serif;
    font-size: 16px;
}

main {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-board {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    color: black;
}

.link:hover {
    text-decoration: underline;
}

.error-list {
    list-style: none;
    color: red;
}

.global-posts {
    width: 70%;
}

.posts {
    border: none;
    outline: 2px solid black;
    margin: 0px 20px 50px 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-header {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
}

.post-header > label {
    font-size: 16px;
}

.post-header > textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 5px;
    font-size: 16px;
}

.button-container > button {
    width: 100px;
    padding: 10px;
    font-size: 16px;
}
